<ion-header>
  <ion-toolbar>
    <ion-title>LumberChess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="createNewGame()">NEW GAME</ion-button>

  <div *ngIf="matrixAndPossibleMoves$ | async as boardAndPossibleMoves" class="board">
    <ng-container *ngFor="let row of boardAndPossibleMoves[0]; let y = index">
      <div *ngFor="let piece of row; let x = index" (click)="selectPosition(x, y)" class="field"
           [class.possibleMove]="contains(boardAndPossibleMoves[1], {x:x,y:y})" [class.odd]="(x+y) % 2 === 1" [class.full]="!!piece">
        <app-piece *ngIf="piece" [color]="piece?.color" [type]="piece?.type"></app-piece>
      </div>
    </ng-container>
  </div>
  <div *ngIf="game$ | async as game" style="font-size: 40px">
    turn: {{game.turn}} |
    winner: {{game.winner || 'NONE' }} |
    draw: {{game.draw}} |
    check: {{game.check || 'NONE' }}
  </div>

</ion-content>
