<ion-header>
    <ion-toolbar>
        <ion-title>Super Duper Chesseroo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="matrixAndPossibleMoves$ | async as boardAndPossibleMoves" class="board">
        <ng-container *ngFor="let row of boardAndPossibleMoves[0]; let y = index">
            <div *ngFor="let piece of row; let x = index" (click)="selectPosition(x, y)" class="field"
                 [class.possibleMove]="contains(boardAndPossibleMoves[1], {x:x,y:y})" [class.odd]="(x+y) % 2 === 1"
            [class.empty]="!piece?.unicodeSymbol" [class.white]="piece?.color === 'WHITE'" [class.black]="piece?.color === 'BLACK'">
                {{piece?.unicodeSymbol || '\u2022' }}
            </div>
        </ng-container>
    </div>
    <div *ngIf="game$ | async as game" style="font-size: 40px">
    turn: {{game.turn}} |
    winner: {{game.winner || 'NONE' }} |
    draw: {{game.draw}} |
    check: {{game.check || 'NONE' }}
    </div>

    <ion-button (click)="gameService.undoMove('1').subscribe()"><--</ion-button>
    <ion-button (click)="gameService.redoMove('1').subscribe()">--></ion-button>
</ion-content>
