.board {
  border: 10px solid #502200;
  display: inline-grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  grid-template-rows: repeat(8, minmax(50px, 1fr));
  user-select: none;
  overflow: auto;
direction: ltr;}

.field {
  text-align: center;
  background: #ffcb97;
  &.odd {
    background: #b0693a;
  }
  &.full {
    cursor: pointer;
  }
  &.possibleMove {
    cursor: pointer;
    background: #066d30;
  }
}
